/* ----------------Imports---------------- */
/* ---------- Fonts ---------- */
/*Google Fonts Info
HTML Info:
<link href="https://fonts.googleapis.com/css?family=Damion|Patua+One|Roboto&display=swap" rel="stylesheet">
CSS Info:
font-family: 'Damion', cursive;
font-family: 'Patua One', cursive;
font-family: 'Roboto', sans-serif;   */
/* ---------- Color Pallet ---------- */
/* ---------- Break Points ---------- */
/* COLOR PALLET - use this if you don't have a color pallet */
/* ---------- Break Points ---------- */
/* DESKTOP FIRST DESIGN */
/* MOBILE FIRST DESIGN */
/* ---------- Decorations ---------- */
/* BORDER RADIUS */
/* BOX SHADOW */
/* TRANSITION */
/* TRANSFORM */
/* QUICK GRADIENT */
/* REFLECTION */
/* TESTING BORDER & BACKGROUND */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  width: (min-width: 500px);
  margin: auto;
  font-size: 62.5%;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  color: #FAFEFD;
  background: #FD6600;
}
@media (min-width: 1000px) {
  html {
    width: 100%;
  }
}

/*
Will be styling logo and nav bar from this file. that is located in header section of the page.
*/

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
header div h1 {
  text-align: center;
  color: #FD6600;
  font-family: 'Damion', cursive;
  font-size: 6rem;
  padding: 25px 0px;
  border-bottom: 1px dotted #AEADD7;
  text-shadow: 3px 3px 10px black;
}
header ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media (min-width: 1000px) {
  header ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px dotted #AEADD7;
  }
}
header ul li {
  text-align: center;
  padding: 15px 0px;
  border-bottom: 1px dotted #AEADD7;
}
@media (min-width: 1000px) {
  header ul li {
    width: 20%;
    border: none;
  }
}
header ul li a {
  text-decoration: none;
  color: #FAFEFD;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 3px 3px 10px black;
}
footer {
  border-top: 1px dotted #6D6E7B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
footer p {
  padding: 20px 0px;
  font-size: 0.8rem;
}
/* --------------- Main Page - <article> --------------- */
article {
  width: 90%;
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
article #application {
  width: 100%;
  padding: 0% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media (min-width: 1000px) {
  article #application {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px dotted White;
  }
}
article #application img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 85%;
  margin: 10% auto;
  border-radius: 20px;
  -webkit-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #FECE02;
}
@media (min-width: 1000px) {
  article #application img {
    width: 49%;
    margin: 5% auto;
  }
}
article #application .appHeader {
  color: #AEADD7;
  font-size: 2rem;
  font-family: 'Patua One', cursive;
  padding: 5% 0%;
  margin-left: 13%;
}
@media (min-width: 1000px) {
  article #application .appHeader {
    order: -1;
    width: 100%;
    text-align: center;
    padding: 2% 0%;
    margin-left: 0%;
  }
}
article #application .appText {
  width: 85%;
  background: #6D6E7B;
  padding: 5%;
  margin: auto;
  border-radius: 20px;
  border: 1px dotted #FAFEFD;
  -webkit-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1000px) {
  article #application .appText {
    width: 47%;
    padding: 2%;
    font-size: 1.3rem;
    background: none;
    border: none;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }
}
article #application .saltyButton {
  width: 45%;
  background: #6D6E7B;
  text-align: center;
  color: #FECE02;
  font-family: 'Damion', cursive;
  font-size: 2.5rem;
  padding: 2% 0%;
  border: 2px solid #FECE02;
  border-radius: 90px;
  margin: 5% auto;
  text-shadow: 3px 3px 10px black;
  text-decoration: none;
  -webkit-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
}
article #contact {
  width: 100%;
  padding: 0% 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media (min-width: 1000px) {
  article #contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
}
article #contact img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 85%;
  margin: 10% auto;
  border-radius: 20px;
  -webkit-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  border: 2px solid #FECE02;
}
@media (min-width: 1000px) {
  article #contact img {
    width: 49%;
    margin: 5% auto;
  }
}
article #contact .contactHeader {
  color: #AEADD7;
  font-size: 2rem;
  font-family: 'Patua One', cursive;
  padding: 5% 0%;
  margin-left: 13%;
}
@media (min-width: 1000px) {
  article #contact .contactHeader {
    order: -2;
    width: 100%;
    text-align: center;
    padding: 2% 0%;
    margin-left: 0%;
  }
}
article #contact .contactForm {
  width: 100%;
  padding: 5%;
  margin: 2% 0% 2% 0%;
  border: 1px dotted #FAFEFD;
  border-radius: 20px;
}
@media (min-width: 1000px) {
  article #contact .contactForm {
    width: 45%;
    padding: 2% 1%;
    order: -1;
    border: none;
  }
}
article #contact .contactForm p {
  margin: 5% 0 1% 0;
}
article #contact input {
  font-size: 1.2rem;
  width: 100%;
}
article #contact button {
  font-size: 1.2rem;
  padding: 2%;
  border-radius: 20px;
  color: #FAFEFD;
  background: #6D6E7B;
  border: 2px solid #FECE02;
}
/* --------------- Main Page - .socialMediaLinks --------------- */
.socialMediaLinks {
  width: 75%;
  padding: 5% 0%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 2px solid #FECE02;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
/* --------------- About Page ---------------*/
.teamCardSection {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
@media (min-width: 1000px) {
  .teamCardSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
  }
}
.teamCard {
  width: 100%;
  border: 1px solid white;
  border-radius: 20px;
  margin: 5% auto;
}
@media (min-width: 1000px) {
  .teamCard {
    width: 45%;
  }
}
.teamCard .teamPhoto {
  width: 100%;
  border-radius: 50px;
  padding: 5%;
}
.teamCard .name {
  padding: 1%;
  font-family: 'Patua One', cursive;
  color: #AEADD7;
  text-align: center;
  font-size: 3rem;
}
.teamCard .role {
  padding: 3%;
  font-family: 'Roboto', sans-serif;
  color: #FAFEFD;
  text-align: center;
  font-size: 2rem;
}
.teamCard .aboutTeam {
  padding: 3%;
  font-family: 'Roboto', sans-serif;
  color: #FAFEFD;
  text-align: justify;
  font-size: 1.6rem;
}
@media (min-width: 1000px) {
  #projectLead {
    margin: 5% 25%;
  }
}
/* --------------- Back to Top Link Mobile View ---------------*/
.backTop {
  width: 100px;
  align-self: flex-end;
  text-decoration: none;
  font-size: 1rem;
  color: #FAFEFD;
  text-align: right;
  padding: 2%;
  border-radius: 20px;
}
.backTop:hover {
  color: #FECE02;
  background: #6D6E7B;
  -webkit-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 9px 9px 10px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1000px) {
  .backTop {
    display: none;
  }
}
